@font-face {
    font-family: Lato;
    src: url(@/Assets/Fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(@/Assets/Fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoItalic;
    src: url(@/Assets/Fonts/Lato/Lato-Italic.ttf);
}